.item-detail-card {
    margin:10px;
    padding:15px;
    border-radius:20px;
    border-style:dotted;
    border-color:#df5166;
}

@media (max-width:480px) {
    
    .item-detail-card {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }  

    .item-detail-title, .item-detail-brand, .item-detail-description, .item-detail-price {
        text-align:center;
        line-height:1.2;
        margin:10px;
    }
}

@media (min-width:481px) {

    .item-detail-card {
        display:grid;
        grid-template-areas: 
        "item-detail-img item-detail-info item-detail-buttons";
        grid-template-columns:1fr 2fr 1fr;
        justify-content:space-between;
        align-items:center;
    }

    .item-detail-img {
        grid-area:item-detail-img;
    }
    
    .item-detail-info {
        grid-area:item-detail-info;
    }

    .item-detail-buttons {
        grid-area: item-detail-buttons
    }

    .item-detail-title, .item-detail-brand, .item-detail-description, .item-detail-price {
        text-align:left;
        line-height:1.2;
        margin:15px;
    }
}

.item-detail-img {
    width:200px;
}

.item-detail-title{
    font-size:22px;
    font-weight:bold;
}

.item-detail-brand {
    font-size:22px;
}

.item-detail-description {
    font-size:16px;
}

.item-detail-price{
    font-size:20px;
    font-weight:bold;
    color:darkgray;
}
