.navbar {
    background-color:lightgray;
    padding:20px;
}

nav ul {
    padding:0px;
}

nav ul li {
    list-style-type:none;
}

@media (max-width:480px) {

    .navbar {
        display:grid;
        grid-template-areas:
        "logo cart"
        "menu menu";
    }

    .navbar-logo {
        grid-area:logo;
    }

    .navbar-cart {
        grid-area:cart;
    }

    .navbar-menu {
        grid-area:menu;
        margin-top:20px;
    }

    nav ul li {
        padding-top:7px;
    }
}

@media (min-width:481px) {

    .navbar {
        display:flex;
        flex-direction:row;
    }

    nav ul li {
        display:inline;
        padding:25px;
    }
}

nav ul li a {
    text-transform:uppercase;
    text-decoration:none;
    color:#BE1931;
}

nav ul li a:hover {
    text-decoration:none;
    color:#df5166;
}

