.navbar {
    background-color:lightgray;
    padding:20px;
}

.navbar-cart {
    background-color:white;
    padding:15px;
    border-radius:20px;
    border-style:none;
}

nav ul li {
    list-style-type:none;
    display:inline;
    padding:25px;
}

nav ul li a {
    text-decoration:none;
    color:#BE1931;
}

nav ul li a:hover {
    text-decoration:none;
    color:#df5166;
}

.container {
    padding:20px;
}

.tittle {
    color:darkgray;
}

.copy {
    color:#BE1931;
}