.qty-selectors {
    display:flex;
    justify-content:center;
    padding:20px;
}

.qty-buttom {
    color:white;
    background-color:#BE1931;
    border-radius:5px;
    border-style:none;
    padding:10px;
    margin:5px 30px 5px 30px;
}

.qty-buttom:disabled {
    background-color:#d68c97;
}

.qty-display {
    color:#BE1931;
    padding:10px;
    margin:5px 30px 5px 30px;
}

.qty-add {
    color:#BE1931;
    background-color:lightgray;
    border-radius:5px;
    border-style:none;
    padding:10px;
}

.purchase {
    color:white;
    background-color:#BE1931;
    border-radius:5px;
    border-style:none;
    padding:10px;
}